<!-- This is user facing page for adding a shift found at http://localhost:3000/managerFunctions/addShift.
      The user gives input in the Date, Location, Start Time, Duration, and Staff Member fields and hits submit. 
      If inputted correctly, this sends the information to the database and the user is redirected to the Shift List page 
      with the top entry being the recently added shift. 
      If any required information is missing, the user receives a message regarding that and the shift does not go through.-->

<html lang="en">
  <%- include("../partials/head.ejs") %> 

    <body>
      <h1>Add a shift</h1>
      <h2>Use this form to add a new shift.</h2>

      <%- include("../partials/nav.ejs") %> 


      <div class="create-shift content">
        <!-- name is used for the server stuff i think  -->
        <form action="addShift" method="POST" onsubmit="successAlert()">
          <label for="date">Date:</label>
          <input type="date" id="date" name="date" required>
          <br>
          <label for="location">Location:</label>
          <select name="location" id="location">
            <!-- Actual locations only for demonstration purposes. Official locations to be gathered after further consultation with client. -->
            <option value="">--Select Location--</option>
            <option value="South Yarra">South Yarra</option>
            <option value="Oakleigh South">Oakleigh South</option>
            <option value="CBD">CBD</option>
            <option value="West Footscray">West Footscray</option>
          </select>
          <!-- <input type="text" id="location" name="location" required> -->
          <br>
          <label for="startTime">Start Time:</label>
          <input type="time" id="startTime" name="startTime" required>
          <br>
          <label for="duration">Duration:</label>
          <!-- Current Max is set to 8, a standard working day. Consultation with the client needed to be sure. -->
          <input type="number" id="duration" name="duration" min="1" max="8" required>
          <br>
          <label for="staffMember">Staff Member:</label>
            <select name="staffMember" id="staffMember">
              <option value="">--Select Staff Member--</option>
            <% for (const i in staffProfiles) { %> 
              <option value="<%= staffProfiles[i].firstName %> <%= staffProfiles[i].lastName %>"> <%= staffProfiles[i].firstName %> <%= staffProfiles[i].lastName %> 
              </option>
            <% } %> 
          </select>
          <br>
          <button>Submit</button>
        </form>
      </div>

      <script>
        function successAlert() {
          alert("Shift successfully created");
        }
      </script>
      
      <%- include("../partials/footer.ejs") %> 

    </body>
    </html>