<!-- This user facing page displays the details of a specific staff member. It is reached by clicking on a staff member on the Staff List page at http://localhost:3000/managerFunctions/staffList.
Two possible actions are taken: 
 -'Update Details':currently does not work.  
- 'Delete Profile': Deletes the record of the staff member on the database and redirects to the Staff List page.-->

<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
  <%- include("../partials/nav.ejs") %>

  <a style="color: green; border: 2px solid  green; background-color: rgb(197, 197, 197);" href="/managerFunctions/updateProfileDetails">  <b> Update Details </b> </a><br>

  <div class="details content"><br>
    <h2><%= staffProfile.firstName %> <%= staffProfile.lastName %> </h2>
    <div class="content">
      <p><b>Preferred Name:</b> <br> <%= staffProfile.preferredName %></p><br>
      <p><b>Work Limit:</b> <br> <%= staffProfile.workLimit %></p><br>
      <p><b>Phone Number:</b> <br> <%= staffProfile.phoneNumber %></p><br>
      <p><b>Address:</b> <br> <%= staffProfile.address %></p><br>
      <p><b>Email:</b> <br> <%= staffProfile.email %></p><br>
      <p><b>Availability:</b> <br> <%= staffProfile.Availability %></p><br>
    </div>
    <a style="color: red; border: 2px solid red; background-color: rgb(141, 113, 113);" class="delete" data-doc="<%= staffProfile._id %>">
     <b>Deactivate Profile</b>  <br>
      <!-- <img src="/trash.webp" alt="put in bin"> -->
    </a>
  </div>

  <%- include("../partials/footer.ejs") %>

  <script>
    const trashcan = document.querySelector('a.delete');
    trashcan.addEventListener('click', (e) => {
      const goOn = deleteConfirm();
      if (goOn){
      const endpoint = `/managerFunctions/${trashcan.dataset.doc}`;
      fetch(endpoint, {
        method: 'DELETE',
      })
      .then(response => response.json())
      .then(data => window.location.href = data.redirect)
      .catch(err => console.log(err));
    } else 
      deleteCancel();
      return;
    });
    
  </script>

  <script>
    function deleteConfirm() {
          return confirm("Are you sure wish to deactivate this account? (This cannot be undone.)");
        };
  </script>
  <script>
    function deleteCancel() {
          alert("Deactivation Cancelled");
        };
  </script>
</body>
</html>